block header
    header.flex.bg-gray-900.w-full.h-20.flex.pl-10.shadow-2xl
        .flex.items-center.space-x-6
            h2.p-1.font-semibold.text-white
                a(href='/')  dashboard 
            h2.p-1.font-semibold.text-white
                a(href='/add')   add a note
            