block header
    header.flex.bg-gray-900.w-full.h-20.flex.pl-10
        .flex.items-center.space-x-6
            h2.p-1.font-semibold.text-white dashboard 
            h2.p-1.font-semibold.text-white add a note
            