doctype html
html
  head
    title= 'lista todo'
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="https://cdn.tailwindcss.com")
  body.bg-gray-800.font-sans
    block content
    
