doctype html
html
  head
    title= 'lista todo'
    link(href="/styles/input.css" rel='stylesheet')
    //- script(src="https://cdn.tailwindcss.com") 

  body(class='bg-gray-800')
    block content
    
